*.trs
*.log
libutil.la
PromoteTraits.h
generate_PromoteTraits
test_Basis
test_Conventions
test_Dirac
test_Estimate
test_Jacobi
test_Jones
test_Matrix
test_Minkowski
test_Mueller
test_Pauli
test_Quaternion
test_Stokes
test_Vector
test_eigen
test_inner_product
test_rotation
